<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
          <li class="nav-item mr-auto"><a class="navbar-brand" href="../../../html/ltr/vertical-menu-template/index.html">
                  <div class="brand-logo"></div>
                  <h2 class="brand-text mb-0">Vuexy</h2>
              </a></li>
          <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
      </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" navigation-header"><span>Apps</span>
          </li>
          <li class=" nav-item"><a href="#"><i class="feather icon-mail"></i><span class="menu-title" data-i18n="Email">Home</span></a>
          </li>
          <li class=" nav-item"><a><i class="feather icon-folder"></i><span class="menu-title" data-i18n="Ecommerce">Departements <i class="feather icon-chevron-down"></i></span></a>
              <ul class="menu-content">
                  <li><a routerLink="/departements"><i class="feather icon-layers"></i><span class="menu-item" data-i18n="Shop">Departements</span></a>
                  </li>
                  <li><a routerLink="/membres"><i class="feather icon-users"></i><span class="menu-item" data-i18n="Details">Membres</span></a>
              </ul>
          </li>
          <li class=" nav-item"><a><i class="feather icon-shopping-cart"></i><span class="menu-title" data-i18n="Ecommerce">Besoins <i class="feather icon-chevron-down"></i></span></a>
            <ul class="menu-content">
                <li><a routerLink="/addBesoins"><i class="feather icon-plus-square"></i><span class="menu-item" data-i18n="Shop">Exprimer Besoins</span></a>
                </li>
                <li><a routerLink="/listeBesoin"><i class="feather icon-list"></i><span class="menu-item" data-i18n="Details">Liste Besoins</span></a>
            </ul>
        </li>
        <li class="nav-item"><a routerLink="/appelOffre">
          <i class="fa fa-book"></i><span class="menu-title" data-i18n="Google Maps">Appels d'offre</span></a>
        </li>
        <li class="nav-item"><a routerLink="/offre">
          <i class="fa fa-list-alt"></i><span class="menu-title" data-i18n="Google Maps">Offres</span></a>
        </li>

        <li class=" nav-item"><a><i class="feather icon-shopping-cart"></i><span class="menu-title" data-i18n="Ecommerce">Gestion ressource<i class="feather icon-chevron-down"></i></span></a>
          <ul class="menu-content">
            <li class="has-sub is-shown open"><a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Second Level">Ordinateur</span></a>
              <ul class="menu-content">
                <li class="is-shown"><a routerLink="ressource/ordinateur"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Third Level">Non Livrées</span></a>
                </li>
                <li class="is-shown"><a routerLink="ressource/ordinateurDisponible"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Third Level">Disponible</span></a>
                </li>
              </ul>
            </li>
            <li class="has-sub is-shown open"><a href="#"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Second Level">Imprimante</span></a>
              <ul class="menu-content">
                <li class="is-shown"><a routerLink="ressource/imprimante"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Third Level">Non Livrées</span></a>
                </li>
                <li class="is-shown"><a routerLink="ressource/imprimanteDisponible"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Third Level">Disponible</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
  </div>
</div>
